.chat-message_form-widget input {
  width: 100%;
  margin: 6px 0;
}

.hammer-component-developer-entry-widget {
  display: block;
}

.chat-widget-field div {
  height: 36px;
}

.chat-widget-select div {
  height: 36px;
}

.chat-widget-password div {
  height: 36px;
}

.chat-widget-textarea div {
  height: 36px;
}

.chat-widget-textarea div {
  height: 90px;
}

.chat-widget-textarea textarea {
  height: 66px;
}

.hammer-component-developer-tools-widget li {
  list-style: square;
}

.chat-rooms-widget a {
  padding: 0 0.2em;
}

.chat-message-widget .user {
  text-align: center;
}

.chat-message-widget {
  background-color: #EEE;
  margin-bottom: 18px;
}

