.hammer-component-developer-tools-widget li {
  list-style: square;
}

.hammer-component-developer-entry-widget {
  display: block;
}

.examples-base-widget li {
  list-style: square;
}

.examples-counter-widget a, .examples-counters-counter-widget a, .examples-ask-counter-widget a {
  padding: 0 0.2em;
}

