* {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}

a {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.loading img {
  margin: auto;
  display: block;
}

.loading {
  width: 100%;
}

.examples-dragg-draggable-widget, .examples-dragg-droppable-widget {
  border: 1px solid silver;
  width: 100px;
  padding: 0.2em;
  text-align: center;
}

/*.changed {
  border-left: 2px solid lightgreen;
  margin-left: 2px
}*/
