.hammer-component-developer-tools-widget li {
  list-style: square;
}

.hammer-component-developer-entry-widget {
  display: block;
}

.chat-widget-textarea div {
  height: 90px;
}

.chat-widget-textarea textarea {
  height: 66px;
}

.chat-rooms-widget a {
  padding: 0 0.2em;
}

.chat-message-widget img {
  margin-bottom: 18px;
}

.chat-message-widget .message {
  margin-left: -5px;
  width: 895px;
}

.chat-room-widget img {
  margin-right: 10px;
}

.chat-message_form-widget input {
  width: 100%;
}

