.chat-message_form-widget input {
  width: 100%;
}

.chat-rooms-widget .menu {
  border-right: 5px solid #EFE7DA;
  padding: 0 10px;
}

.chat-rooms-widget .menu .rooms li {
  list-style-type: square;
  margin-left: 20px;
}

.chat-rooms-widget .menu .rooms {
  margin-bottom: 0;
}

.chat-widget-textarea div {
  height: 90px;
}

.chat-widget-textarea textarea {
  height: 66px;
}

.chat-message-widget img {
  margin-bottom: 18px;
}

.chat-message-widget .message {
  margin-left: -5px;
  width: 695px;
}

.chat-room-widget img {
  margin-right: 10px;
}

.chat-room_form-widget input[type=text] {
  width: 80px;
}

.hammer-component-developer-tools-widget li {
  list-style: square;
}

.hammer-component-developer-entry-widget {
  display: block;
}

